.header{
    background-color: black;
    width: 100%;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;


}

.header_left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    display: flex;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 2px solid #9c19d3;
}

.header_center{
    flex: 0.7;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 20px;

}

.header_center_buttons{
    display: grid;
    justify-content: space-around;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 0 10px;
}

.header_right{
    display: flex;
    justify-content: center;
   align-items: center;
    padding: 0 20px;

}

.button{
    background-color: black;
    color: #fefdff;
    border-radius: 20px;
    border:2px solid #9c19d3;
    height: 40px;
    width: 130px;
}

.footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 20px;

}