.appStyle  {
    background-color: black;
    min-height: 100vh;
}


.body_text{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 65px;
}
.card-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 70px;
}

.card {
    background-color: black;
    border-radius: 20px;
    margin: 50px;
    padding: 5px;
    width: 200px;
    text-align: center;
    transition: margin 0.3s ease;
}


@media screen and (max-width: 800px) {
    .card {
        margin: 10px;
    }

    .card-container {
        justify-content: space-evenly;
        padding: 10px;
    }
}

.image-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.card-image {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.card-text {
    margin: 3px 0;
    font-weight: bold;
    color: white;
}









