.appStyle  {
    background-color: black;
    min-height: 100vh;
}


.body_text{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 45px;
}
.card-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 70px;
}

.card {
    background-color: black;
    border-radius: 20px;
    margin: 50px;
    padding: 5px;
    width: 200px;
    text-align: center;
    transition: margin 0.3s ease;
}


@media screen and (max-width: 800px) {
    .card {
        margin: 10px;
    }

    .card-container {
        justify-content: space-evenly;
        padding: 10px;
    }
}

.image-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.card-image {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.card-text {
    margin: 3px 0;
    font-weight: bold;
    color: white;
}


.search {
    --input-line: #cccccc;
    --input-text-color: #ffffff;
    --input-text-hover-color: transparent;
    --input-border-color: black;
    --input-border-hover-color: #9c19d3;
    --input-bg-color: #9c19d3;
    --search-width: 700px;
    --border-radius: 50px;
    --transition-cubic-bezier: 150ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 50px;
}

.search-box {
    width: var(--search-width);
    margin: 0 auto;
    height: 35px;
    border: 1px solid var(--input-border-color);
    border-radius: var(--border-radius);
    padding: 5px 15px;
    background: var(--input-bg-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: var(--transition-cubic-bezier);
}

@media screen and (max-width: 700px) {
    .search-box {
        width: calc(100% - 30px);
        margin: 0 15px;
    }
}


.search-box:hover {
    border-color: var(--input-border-hover-color);
}

/* Section input */
.search-field {
    position: relative;
    width: 100%;
    height: 100%;
    border: 0;
}

.input {
    width: calc(100% - 29px);
    height: 100%;
    border: 0;
    border-color: transparent;
    font-size: 1rem;
    padding-right: 0px;
    color: var(--input-line);
    background: var(--input-bg-color);
    border-right: 2px solid var(--input-border-color);
    outline: none;
}

.input::-webkit-input-placeholder {
    color: var(--input-text-color);
}



.input::-ms-input-placeholder {
    color: var(--input-text-color);
}

.input:focus::-webkit-input-placeholder {
    color: var(--input-text-hover-color);
}



.input:focus::-ms-input-placeholder {
    color: var(--input-text-hover-color);
}

/* Search button */
.search-box-icon {
    width: 52px;
    height: 35px;
    position: absolute;
    top: -6px;
    right: -21px;
    background: transparent;
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    transition: var(--transition-cubic-bezier);
}

.search-box-icon:hover {
    background: var(--input-border-color);
}

.btn-icon-content {
    width: 52px;
    height: 35px;
    top: -6px;
    right: -21px;
    background: transparent;
    border: none;
    cursor: pointer;
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    transition: var(--transition-cubic-bezier);
    opacity: .4;
}

.btn-icon-content:hover {
    opacity: .8;
}

.search-icon {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 7px;
    right: 15px;
}






